# Ignore all data and outputs
/data/*
!data/gt_*.jsons
/evaluation/
/mlruns/
/mlartifacts/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# Virtual environments
env/
.venv/

# IDE config
.idea/
.vscode/

# Package metadata
*.egg-info/

# Environment files
.env
!*.env.template